/*** ---------------------- Import font ------------------------ ***/
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

/*** -------------------- Default Style ------------------- ***/
html {overflow-y: auto;}
.v-application:not(.v-locale--is-rtl){font-family: "Roboto-Regular", "IranSans-Regular", sans-serif !important; font-size: 15px;}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .title{font-family: "Roboto-Bold", "IranSans-Bold", sans-serif !important;}

/*noinspection CssUnresolvedCustomProperty*/
.rounded-15{border-radius: 15px;}
.opacity-0 {opacity: 0; transition: opacity 1.4s ease;}
.opacity-30 {opacity: 0.3; transition: opacity 1.4s ease;}
.opacity-50 {opacity: 0.5; transition: opacity 1.4s ease;}
.opacity-80 {opacity: 0.8; transition: opacity 1.4s ease;}
.opacity-100 {opacity: 1; transition: opacity 1.4s ease;}
.list-unstyled{list-style: none;}
.text-transform-none{text-transform: none;}