/*noinspection CssUnusedSymbol*/
.v-navigation-drawer__scrim,
.v-overlay__scrim {
    opacity: 60% !important;
}

/*For handle UI in old browser*/
/*noinspection CssUnusedSymbol*/
.v-dialog > .v-overlay__content {
    margin: 0;
}

/*noinspection CssUnusedSymbol*/
.v-main {
    flex-basis: 0;
}