/*** ---------------------- Import font ------------------------ ***/
@font-face {
    font-family: 'IranSans-Regular';
    src: url('../fonts/IRANSansMobile(FaNum).ttf') format('truetype');
}
@font-face {
    font-family: 'IranSans-Bold';
    src: url('../fonts/IRANSansMobile(FaNum)_Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto-Regular';
    src: url('../fonts/NotoSansArabic-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto-Bold';
    src: url('../fonts/NotoSansArabic-Bold.ttf') format('truetype');
}

/*** ---------------------- Override ------------------------ ***/
.v-locale--is-rtl{font-size: 15px;}
.v-locale--is-rtl *{letter-spacing: 0 !important;}
.v-locale--is-rtl .v-label {font-size: 0.9rem;}
.v-locale--is-rtl .v-messages__message {line-height: 20px;}
.v-locale--is-rtl .v-btn--size-small {--v-btn-size: 0.85rem;}

.v-locale--is-rtl.v-application [class*="text-h"],
.v-locale--is-rtl .v-card-title{
    font-size: 1rem;
}

/*** ---------------------- Persian language ------------------------ ***/
body.fa,
body.fa *{
    font-family: "IranSans-Regular", "Roboto-Regular", sans-serif !important;
}

body.fa h1,
body.fa .h1,
body.fa h2,
body.fa .h2,
body.fa h3,
body.fa .h3,
body.fa h4,
body.fa .h4,
body.fa h5,
body.fa .h5,
body.fa h6,
body.fa .h6,
body.fa .title,
body.fa .v-application [class*="text-h"],
body.fa .v-card-title{
    font-family: "IranSans-Bold", "Roboto-Regular", sans-serif !important;
}

/*** ---------------------- Arabic language ------------------------ ***/
body.ar,
body.ar *{
    font-family: "Noto-Regular", "Roboto-Regular", sans-serif !important;
}

body.ar h1,
body.ar .h1,
body.ar h2,
body.ar .h2,
body.ar h3,
body.ar .h3,
body.ar h4,
body.ar .h4,
body.ar h5,
body.ar .h5,
body.ar h6,
body.ar .h6,
body.ar .title,
body.ar .v-application [class*="text-h"],
body.ar .v-card-title{
    font-family: "Noto-Bold", "Roboto-Regular", sans-serif !important;
}