/*** ---------------------- Import font ------------------------ ***/
@font-face {
    font-family: 'IranSans-Regular';
    src: url('../fonts/IRANSansMobile(FaNum).ttf') format('truetype');
}
@font-face {
    font-family: 'IranSans-Bold';
    src: url('../fonts/IRANSansMobile(FaNum)_Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto-Regular';
    src: url('../fonts/NotoSansArabic-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto-Bold';
    src: url('../fonts/NotoSansArabic-Bold.ttf') format('truetype');
}

/*** ---------------------- Override ------------------------ ***/
.v-locale--is-rtl .v-label {font-size: 0.9rem;}
.v-locale--is-rtl .v-messages__message {line-height: 20px;}
.v-locale--is-rtl .v-btn--size-small {--v-btn-size: 0.85rem;}
.v-locale--is-rtl .text-caption {font-size: 0.80rem !important;}

/*** ---------------------- Custom style ------------------------ ***/
.v-locale--is-rtl *{
    letter-spacing: 0 !important;
    font-family: "IranSans-Regular", "Noto-Regular", sans-serif !important;
}
.v-locale--is-rtl{font-size: 14px;}

.v-locale--is-rtl h1,
.v-locale--is-rtl .h1,
.v-locale--is-rtl h2,
.v-locale--is-rtl .h2,
.v-locale--is-rtl h3,
.v-locale--is-rtl .h3,
.v-locale--is-rtl h4,
.v-locale--is-rtl .h4,
.v-locale--is-rtl h5,
.v-locale--is-rtl .h5,
.v-locale--is-rtl h6,
.v-locale--is-rtl .h6,
.v-locale--is-rtl .title{
    font-family: "IranSans-Bold", "Noto-Bold", sans-serif !important;
}
