.master-btn {
    /*noinspection CssUnresolvedCustomProperty*/
    background: rgb(var(--v-theme-tertiary)) !important;
}
.secondary-btn {
    transition: all 0.4s ease;
    /*noinspection CssUnresolvedCustomProperty*/
    background-color: rgb(var(--v-theme-secondary)) !important;
    color: white;
}
.master-btn.v-btn--disabled,
.secondary-btn.v-btn--disabled{
    color: rgba(255, 255, 255, 0.7);
}