@font-face {
    font-family: 'English-Regular';
    src: url('../fonts/Poppins-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'English-Bold';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
}
/*** -------------------- Default Style ------------------- ***/
html {overflow-y: auto;}
html,
body,
.v-application:not(.v-locale--is-rtl),
.text-caption,
.text-body-1,
.text-body-2,
.text-subtitle-1,
.text-subtitle-2{
    font-family: "English-Regular", "IranSans-Regular", "Noto-Regular", sans-serif !important;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .title{
    font-family: "English-Bold", "IranSans-Bold", "Noto-Bold", sans-serif !important;
}
.v-application:not(.v-locale--is-rtl){font-size: 15px !important;}

/*noinspection CssUnresolvedCustomProperty*/
.opacity-0 {transition: opacity 1.4s ease;}
.opacity-30 {transition: opacity 1.4s ease;}
.opacity-50 {transition: opacity 1.4s ease;}
.opacity-60 {transition: opacity 1.4s ease;}
.opacity-80 {transition: opacity 1.4s ease;}

/*noinspection CssUnusedSymbol*/
.opacity-100 {transition: opacity 1.4s ease;}
.text-transform-none{text-transform: none;}

/*noinspection CssUnusedSymbol*/
.flasher{animation: pulseOpacity 1s infinite;}
@keyframes pulseOpacity
{
    0%{opacity:0.90;}
    50%{opacity:0.4;}
    100%{opacity:0.90;}
}