.v-card-title{
    font-family: "English-Bold", "IranSans-Bold", sans-serif !important;
    font-size: 1rem;
}

/*noinspection CssUnusedSymbol*/
.v-navigation-drawer__scrim,
.v-overlay__scrim {
    background-color: black;
    opacity: 0.6;
    transition: opacity 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}

/*For handle UI in old browser*/
/*noinspection CssUnusedSymbol*/
.v-dialog > .v-overlay__content {
    margin: 0;
}

/*noinspection CssUnusedSymbol*/
.v-main {
    flex-basis: 0;
}
.v-list-item-title{
    font-size: 0.9rem;
}
.v-messages__message{
    line-height: 16px;
}
.v-expansion-panel-title{
    padding: 0 !important;
    min-height: 30px !important;
    margin-bottom: 10px;
}
.v-expansion-panel-text__wrapper{
    padding: 0 !important;
}
.v-switch__track{
    min-width: 28px !important;
}
.v-btn--disabled {
    opacity: 0.50;
}
.v-skeleton-loader__bone::after {
    /*noinspection CssUnresolvedCustomProperty*/
    background: linear-gradient(90deg, rgba(var(--v-theme-skeleton-loader), 0), rgba(var(--v-theme-skeleton-loader), 0.3), rgba(var(--v-theme-skeleton-loader), 0));
}
.v-btn--disabled.btn-style-2{
    opacity: 0.50;
    background: inherit;
}
.v-btn--disabled.btn-style-2 .v-btn__overlay{
    opacity: 0;
}